In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [5]:
df= pd.read_csv('green_tripdata_2019-10.csv',nrows=100,index_col=0)

In [8]:
df.lpep_pickup_datetime = pd.to_datetime(df['lpep_pickup_datetime'])
df.lpep_dropoff_datetime = pd.to_datetime(df['lpep_dropoff_datetime'])

In [2]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [3]:
engine.connect()

In [6]:
print(pd.io.sql.get_schema(df, name="green_taxi_data", con=engine))

CREATE TABLE green_taxi_data (
	lpep_pickup_datetime TEXT,
	lpep_dropoff_datetime TEXT,
	store_and_fwd_flag TEXT,
	"RatecodeID" BIGINT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type BIGINT,
	trip_type BIGINT,
	congestion_surcharge FLOAT(53)
)

In [7]:
df_iter = pd.read_csv('green_tripdata_2019-10.csv', iterator=True, chunksize=10000,index_col=0)

In [8]:
df = next(df_iter)

In [9]:
df.head(0)

Empty DataFrame
Columns: [lpep_pickup_datetime, lpep_dropoff_datetime, store_and_fwd_flag, RatecodeID, PULocationID, DOLocationID, passenger_count, trip_distance, fare_amount, extra, mta_tax, tip_amount, tolls_amount, ehail_fee, improvement_surcharge, total_amount, payment_type, trip_type, congestion_surcharge]
Index: []

In [10]:
df.lpep_pickup_datetime = pd.to_datetime(df['lpep_pickup_datetime'])
df.lpep_dropoff_datetime = pd.to_datetime(df['lpep_dropoff_datetime'])

## first create table by column name only

In [11]:
df.head(n=0).to_sql('green_taxi_data', con=engine, if_exists='replace')

0

## second insert data by append

In [12]:
%time df.to_sql('green_taxi_data', con=engine, if_exists='append')

CPU times: total: 125 ms
Wall time: 973 ms

1000

## Append remaining data chunk

In [13]:
from time import time

while True: 
    try:
        t_start = time()
        df = next(df_iter)

        df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
        df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)
        
        df.to_sql(name='green_taxi_data', con=engine, if_exists='append')

        t_end = time()

        print('inserted another chunk, took %.3f second' % (t_end - t_start))
    except StopIteration:
        print('completed')
        break

inserted another chunk, took 0.822 second
inserted another chunk, took 0.840 second
inserted another chunk, took 0.931 second
inserted another chunk, took 0.796 second
inserted another chunk, took 0.859 second
inserted another chunk, took 0.942 second
inserted another chunk, took 0.925 second
inserted another chunk, took 0.958 second
inserted another chunk, took 1.019 second
inserted another chunk, took 1.122 second
inserted another chunk, took 0.985 second
inserted another chunk, took 0.800 second
inserted another chunk, took 0.807 second
inserted another chunk, took 1.019 second
inserted another chunk, took 0.981 second
inserted another chunk, took 0.807 second
inserted another chunk, took 0.884 second
inserted another chunk, took 0.967 second
inserted another chunk, took 0.875 second
inserted another chunk, took 0.907 second
inserted another chunk, took 0.814 second
inserted another chunk, took 0.829 second
inserted another chunk, took 0.993 second
inserted another chunk, took 0.789 second
inserted another chunk, took 0.807 second
inserted another chunk, took 0.874 second
inserted another chunk, took 0.822 second
inserted another chunk, took 0.835 second
inserted another chunk, took 0.947 second
inserted another chunk, took 0.810 second
inserted another chunk, took 0.904 second
inserted another chunk, took 0.890 second
inserted another chunk, took 0.779 second
inserted another chunk, took 0.743 second
inserted another chunk, took 1.039 second
inserted another chunk, took 1.082 second
inserted another chunk, took 0.980 second
inserted another chunk, took 1.099 second
inserted another chunk, took 0.978 second
inserted another chunk, took 0.842 second
inserted another chunk, took 0.903 second
inserted another chunk, took 0.999 second
inserted another chunk, took 1.016 second
inserted another chunk, took 1.008 second
inserted another chunk, took 0.913 second
inserted another chunk, took 0.865 second
inserted another chunk, took 0.588 second
completed

In [14]:
lookup_df = pd.read_csv('taxi_zone_lookup.csv')

In [15]:
lookup_df.to_sql('lookup_data', con=engine, if_exists='replace')

265

In [16]:
print(pd.io.sql.get_schema(lookup_df, name="lookup_data", con=engine))

CREATE TABLE lookup_data (
	"LocationID" BIGINT,
	"Borough" TEXT,
	"Zone" TEXT,
	service_zone TEXT
)